*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-image: url("blue.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
ul li{
    display: inline;
    padding-left: 39px;
    font-size: 20px;
    list-style-type: none;
    font-variant:initial;
    
}
ul{
    padding-right: 30px;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: burlywood;
    position: relative;
}
.heading{
    padding: 20px;
    padding-top: 55px;
    position: relative;
}
header{
    font-size: 45px;
    font-variant: small-caps;
}
p{
    font-size: 25px;
    font-variant: small-caps;
    color: rgb(166, 251, 18);
}
.img-container{
  position: absolute;
  right:0;
  top:20px;
  margin: 10px;
  padding-right: 20px;

  
}